﻿@model BikeRental.ViewModel.BikeBookingViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking Detail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerFullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerFullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedBikeModel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedBikeModel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalTimeSpent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalTimeSpent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RentalId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
