﻿@model BikeRental.ViewModel.BikeViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bicycle Inventory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModelNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModelNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedBikeType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectedBikeType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BikeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
