﻿@model IEnumerable<BikeRental.ViewModel.BikeViewModel>

@{
    ViewBag.Title = "Bike List";
}

<h2>Bicycle List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ModelNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedBikeType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach(var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ModelNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SelectedBikeType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.BikeId">Edit</a> |
            <a asp-action="Detail" asp-route-id="@item.BikeId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.BikeId">Delete</a>
        </td>
    </tr>
    }
</table>