﻿@using BikeRental.ViewModel
@model BikeRental.ViewModel.RegisterViewModel


@{ 
    ViewBag.Title = "Users";

}
<h1>Register</h1>

<h4>User Management</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
           <div asp-validation-summary="All" class="text-danger">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Email">Email</label>
                        <input type="text" asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Password">Password</label>
                        <input type="password" asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="ConfirmPassword">ConfirmPassword</label>
                        <input type="password" asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <dv class="mb-3">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </dv>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" 
                        class="form-control" 
                        asp-items="Html.GetEnumSelectList<Roles>()">
                    <option>Select role ...</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>