﻿@model BikeRental.ViewModel.BikeViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bicycle Inventory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BikeId" />
            <div class="form-group">
                <label asp-for="ModelNo" class="control-label"></label>
                <input asp-for="ModelNo" class="form-control" />
                <span asp-validation-for="ModelNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedBikeType" class="control-label"></label>
                @Html.DropDownListFor(x => Model.SelectBikeTypeId, new SelectList(Model.BikeTypes, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "BikeTypeId" })
                <span asp-validation-for="SelectBikeTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                @Html.DropDownListFor(x => Model.Status, new SelectList(Model.BikeStatuses, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "BikeTypeId" })
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

