﻿@model IEnumerable<BikeRental.ViewModel.UserViewModel>

@{
    ViewBag.Title = "User Management";
}

<h2>User Management</h2>

<p>
    <a asp-action="Create">Add New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

    @foreach(var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.UserName">Edit</a> |
            <a asp-action="Detail" asp-route-id="@item.UserName">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.UserName">Delete</a>
        </td>
    </tr>
    }
</table>